@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


html{
  height: 100%;
}

body{
  margin: 0 auto;
  display: flex;
  width: 1200px;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.navigation{
  display: flex;
  align-items: end;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-logo{
  margin-bottom: -9px;
  position: relative;
}

.navigation-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user{
  width: 310px;
}
.navigation-link-logo{
  align-items: end;
}
.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation-button{
  vertical-align: none;
  width: 160px;
  color: white;
  background-color: #756157;
  border-radius:4px;

}

.main-index{
  color:#000000;
  background-color: #FFFFFF;
  background-image: url("../images/index-main/hero-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.hero-logo{

  display: block;
  margin: 0 auto;
  margin-bottom: 151px;
}

.button{
  box-sizing: border-box;
  padding: 8px 0;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border-radius:4px;
  font-family: "PT Sans", "Roboto", sans-serif;

}

.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 64px 0;
  padding: 0;
  list-style: none;
}

.advantages-list-with-icons{
  margin: 0 auto;
  padding: 0;
  display: flex;
  list-style: none;
}

.advantages-title{
  color:#000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding: 0;

}

.post-advantages-title{
  margin-bottom: 20px;
}


.advantages-subtitle{
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 90px 0;
  padding: 0;
}

.post-advantages-subtitle{
  margin-bottom: 64px;

}

.advantages-item{
  width: 400px;
  box-sizing: border-box;
  padding: 85px 103px;
  height: 385px;
  background-color: #83B3D31F;
}

.advantages-list .advantages-item:nth-child(3){
  background-color: #83B3D333;
}

.advantages-item-with-pic{
  background-color:#82B3D3;
  display: flex;
}


.advantages-item-content{
  box-sizing: border-box;
  width: 400px;
  padding: 103px 85px;
}

.advantages-item-title {
  color:#000000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: auto;
  width: 175px;
}

.advantages-item-title::after{
  display: block;
  content: "";
  margin: 30px auto;
  width: 60px;
  height: 2px;
  background-color: #0000004D;
}

.advantages-item-content .advantages-item-title::after{
  background-color:#FFFFFF4D;
}

.advantages-list-with-icons .advantages-item-title::after{
  display: none;
}

.advantages-list-with-icons  .advantages-item-title{
  margin: 30px auto;
}

.advantages-list-with-icons .advantages-item:nth-child(even){
  background-color: white;
}




.advantages-item-text{
  text-align: center;
  padding: 0;
  margin: 0;
}

.advantages-item-extra {
  color: #FFFFFF;
}

.advantages-item-icon{
  display: block;
  margin: 0 auto;
}

.search{
  padding: 90px 0 96px 0;
}

.search-title{
  color: #000000;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 20px 0;
}

.search-subtitle{
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
  padding: 0;
}



.search-button{
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  background-color: #756157;
  padding: 8px 50px;
  font-style: normal;
  font-weight: 700;
}

.subscribe-button{
  background-color: #82B3D3;
  padding: 8px 50px;
  color:#FFFFFF;
  font-size: 20px;
  font-style: normal;
  line-height: 36px; /* 180% */
  border-radius: 0 4px 4px 0;
}
.subscribe-title{
  color:#FFFFFF;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding:0;
  margin-bottom: 20px;
}

.subscribe-catalog-titile{
  color: #000000;
}


.subscribe-subtitle{
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  line-height: 26px; /* 118.182% */
  margin: 0 0 54px;
}



.subscribe-catalog-subtile{
  color: #000000;
}

.subscribe-catalog{
  padding: 96px 0 104px 0;
}

.subscribe{
  background-color: grey;
  background-image: url("../images/index-main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 96px 0 104px 0;
}
.subscribe-email-form{
  display: flex;
  justify-content: center;
}
.subscribe-form-field{
  outline: none;
  border: none;
  padding: 12px 20px;
  font-family: inherit;
  line-height: 24px;
  height: 52px;
  box-sizing: border-box;
  width: 452px;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  font-weight: 400;
}


.filters-title{
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  padding: 35px 0 8px 0;
}

.filters-panel{
  background-image: url("/images/catalog-main/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.filters-panel-wrapper{
  width: 1060px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.range-scale{
  display: block;
  position: relative;
  height: 4px;
  top: 0;
  background-color: grey;
  border-radius: 2px;
}

.range-bar{
  display: block;
  position: absolute;
  left: 20px;
  height: 4px;
  background-color: #FFFFFF;
  transform-origin: left;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid white;
  border-radius: 30%;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -20px;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.filters-infrastructure-and-housing-wrapper{
  display: flex;
}

.filters-infrastructure-and-housing-wrapper .filter-group{
  margin-right: 70px;
}

.filters-infrastructure-and-housing-wrapper .filter-group:nth-child(2){
  margin-right: 0;
}

.filters-cost-and-buttons-wrapper{
  display: flex;
}

.filters-cost-and-buttons-wrapper .filter-group{
  margin-right: 70px;
}
.static-value{
  position: absolute;
  display: block;
	color:#444;
}
.filters{
  display: flex;
  justify-content: space-between;

}

.filter-field{
  border: none;
  background-color: white;
  padding: 12px 20px;
  width: 143px;
  box-sizing: border-box;
  margin-right: 2px;
  outline: none;
}

.filter-field::placeholder{
  text-align: right;
}

.range-wrapper-inputs{
  display: flex;
  margin-bottom: 36px;
}


.filter-group{
  width: 150px;
  border: none;
  padding: 0;
  margin: 0;

}

.price-up-to{
  border-radius: 0 4px 4px 0;
}

.price-from{
  border-radius: 4px 0 0 4px;
}


.breadcrumbs{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.breadcrumbs-link{
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-title{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-filter-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-group-buttons-wrapper{
  display: flex;
  flex-direction: column;
  padding-top: 56px;

}

.control{
  color: #FFFFFF;
  line-height: 23px;
}
.button-filter-apply{
  color: white;
  height: 40px;
  padding: 8px 50px;
  background-color: #82B3D3;
  text-align: center;
  margin-bottom: 32px;
}

.button-filter-reset{
  padding: 8px 50px;
  color:white;
  background-color: rgba(28,28,28,0);
}
.catalog{
  padding-top: 50px;

}
.catalog-title{
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.hotel-card-title{
  grid-column: 1/-1;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin:0;
}

.card-type-of-housing{
  margin:0;

}

.hotell-card-buttons-list{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: min-content min-content;
  column-gap: 20px;
  row-gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-price{
  text-align: right;
  font-weight: 400;
}

.card-button-detail{
  color: #FFFFFF;
  grid-column: 1/-1;
  background-color: #756157;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
}

.card-button-favorites{
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
}

.button-item:last-child{
  grid-column: 2;
  grid-row: 2;
  padding: 9px 22px 8px 23px;
  margin: 0;
  ;

}
.hotel-card-rating-text{
  color: #333333;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin:0;
  padding:0

}

.pagination-link{
  color:#FFFFFF;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination{
  display: flex;
  padding: 0;
  width: 1060px;
  margin: 0 auto;
}

.pagination-item{
  margin-right: 8px;
  list-style: none;
  background-color: #82B3D3;
  padding: 11.364px 18.545px 12.636px 18.455px;
}


.pagination-current{
  color: #000000;
}

.footer-phone{
  color:#000000;
  text-align: center;
  text-decoration: none;
  font-family: PT Sans;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  width: 331px;
}

.main-container{
  flex-grow: 1;
  padding-top: 51px;

}

.catalog-main-container{
  color:#000000;
  background-color: #FFFFFF;
  padding-top: 0;
}

.page-footer-container{
  display: flex;
  padding: 40px 0 30px 0;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social-list{
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  width: 142px;
}

.footer-academy-logo{
  margin-left: auto;
}

.hotel-list{
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.hotel-card{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px min-content auto;
  column-gap: 20px;
  row-gap: 16px;
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-img{
  grid-column: 1/-1;
  text-align: center;
}


.subscribe-email-form-wrapper{
  text-align: center;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border:0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-title-wrapper{
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.view-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.view-link{
  margin-right: 36px;
}
